/* src/components/Navbar.scss */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Pacifico&family=Squada+One&family=Ultra&display=swap');
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #090fab; /* Dark background for navbar */
  color: white;

  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    a{
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: #ffffff;
    }
    .logo-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .website-name {
      font-size: 24px;
      font-family: "Pacifico", serif;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;

    .profile-containerr {
      position: relative;
      display: flex;
      align-items: center;

      .profile-icon {
        cursor: pointer;
      }

      .profile-popover {
        position: absolute;
        top: 40px;
        right: 0;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 10;
        .popover-btn {
          background: none;
          border: none;
          color: black;
          padding: 8px 15px;
          font-size: 14px;
          cursor: pointer;
          width: 100%;
          text-align: left;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }

    .seller-btn {
      background-color: #a4d0f5;
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #adc7dc;
      }
    }

    .cart-icon {
      cursor: pointer;
      color: white;
      transition: color 0.3s ease;

      &:hover {
        color: #ff7043; /* Change color on hover */
      }
    }

    .login-btn {
      background-color: #00796b;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0aa188;
      }
    }
  }
}
